In [179]:
import pandas as pd
import numpy as np
import seaborn as sns

In [180]:
url = 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5358352.csv'

In [181]:
df = pd.read_csv(url, skiprows = 4) # or try with encoding='ISO-8859-1'

In [183]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129152e+10,2.180944e+10,2.370806e+10,2.821128e+10,2.611994e+10,2.968348e+10,...,9.826771e+11,1.003403e+12,9.231439e+11,8.898593e+11,1.030482e+12,1.016697e+12,1.009052e+12,9.341791e+11,1.089454e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.322169e+11,8.924979e+11,7.669580e+11,6.905454e+11,6.837480e+11,7.663597e+11,7.947191e+11,7.847997e+11,8.401873e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.412034e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041597e+11,3.885320e+11,3.376197e+11,4.190150e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.214763e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,NaN

In [198]:
india_gdp = df[df['Country Name'] == 'India']

In [199]:
india_gdp = india_gdp.drop(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
# india_gdp = india_gdp.rename(columns={'Unnamed: 66': 'Year'})

In [201]:
india_gdp

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
109,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955485e+10,4.586546e+10,5.013494e+10,5.308546e+10,5.844800e+10,...,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.176295e+12,NaN

In [202]:
print(india_gdp.columns)

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [203]:
# india_gdp = india_gdp.reset_index()

# india_gdp = india_gdp.set_index('Year')
# india_gdp.index = pd.to_datetime(india_gdp.index, format='%Y')

In [204]:
india_gdp = india_gdp.reset_index()

In [205]:
# india_gdp = india_gdp.rename(columns={'Unnamed: 64': 'Year'})

In [206]:
# india_gdp['Year'] = pd.to_datetime(india_gdp['Year'], format='%Y')

KeyError: 'Year'

In [207]:
# india_gdp = india_gdp.set_index('Year')

KeyError: "None of ['Year'] are in the columns"

In [208]:
india_gdp

,index,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,109,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955485e+10,4.586546e+10,5.013494e+10,5.308546e+10,...,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.176295e+12,NaN

Python that can be used for time series forecasting. Here are a few popular ones:

ARIMA (Autoregressive Integrated Moving Average): This is a popular time series model that can be used to model non-stationary time series data. The statsmodels library in Python provides an implementation of ARIMA.

SARIMA (Seasonal Autoregressive Integrated Moving Average): This is an extension of ARIMA that can handle seasonality in the data. The statsmodels library also provides an implementation of SARIMA.

VAR (Vector Autoregression): This is a multivariate time series model that can be used when you have multiple time series that are interdependent. The statsmodels library provides an implementation of VAR.

LSTM (Long Short-Term Memory): This is a type of neural network that is commonly used for time series prediction. The Keras library provides an implementation of LSTM.

# predict India's GDP

In [89]:
# Install the fbprophet library
!pip install fbprophet

^C

In [110]:
from fbprophet import Prophet

india_gdp_prophet = pd.DataFrame({'ds': india_gdp.index, 'y': india_gdp['Value']})

ModuleNotFoundError: No module named 'fbprophet'

In [209]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [258]:
X = india_gdp.columns
y = [0] * len(X) - 2
for i in range(2, 63):
    y[i-1] = india_gdp[X[i-1]]
X = X[1:64]
X

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [257]:
y

[0,
 0    3.702988e+10
 Name: 1960, dtype: float64,
 0    3.923244e+10
 Name: 1961, dtype: float64,
 0    4.216148e+10
 Name: 1962, dtype: float64,
 0    4.842192e+10
 Name: 1963, dtype: float64,
 0    5.648029e+10
 Name: 1964, dtype: float64,
 0    5.955485e+10
 Name: 1965, dtype: float64,
 0    4.586546e+10
 Name: 1966, dtype: float64,
 0    5.013494e+10
 Name: 1967, dtype: float64,
 0    5.308546e+10
 Name: 1968, dtype: float64,
 0    5.844800e+10
 Name: 1969, dtype: float64,
 0    6.242248e+10
 Name: 1970, dtype: float64,
 0    6.735099e+10
 Name: 1971, dtype: float64,
 0    7.146319e+10
 Name: 1972, dtype: float64,
 0    8.551527e+10
 Name: 1973, dtype: float64,
 0    9.952590e+10
 Name: 1974, dtype: float64,
 0    9.847280e+10
 Name: 1975, dtype: float64,
 0    1.027172e+11
 Name: 1976, dtype: float64,
 0    1.214873e+11
 Name: 1977, dtype: float64,
 0    1.373003e+11
 Name: 1978, dtype: float64,
 0    1.529917e+11
 Name: 1979, dtype: float64,
 0    1.863253e+11
 Name: 1980, dtype: float64,
 0    1.934906e+11
 Name: 1981, dtype: float64,
 0    2.007151e+11
 Name: 1982, dtype: float64,
 0    2.182623e+11
 Name: 1983, dtype: float64,
 0    2.121582e+11
 Name: 1984, dtype: float64,
 0    2.325119e+11
 Name: 1985, dtype: float64,
 0    2.489860e+11
 Name: 1986, dtype: float64,
 0    2.790336e+11
 Name: 1987, dtype: float64,
 0    2.965890e+11
 Name: 1988, dtype: float64,
 0    2.960424e+11
 Name: 1989, dtype: float64,
 0    3.209790e+11
 Name: 1990, dtype: float64,
 0    2.701053e+11
 Name: 1991, dtype: float64,
 0    2.882084e+11
 Name: 1992, dtype: float64,
 0    2.792960e+11
 Name: 1993, dtype: float64,
 0    3.272756e+11
 Name: 1994, dtype: float64,
 0    3.602820e+11
 Name: 1995, dtype: float64,
 0    3.928971e+11
 Name: 1996, dtype: float64,
 0    4.158678e+11
 Name: 1997, dtype: float64,
 0    4.213515e+11
 Name: 1998, dtype: float64,
 0    4.588204e+11
 Name: 1999, dtype: float64,
 0    4.683949e+11
 Name: 2000, dtype: float64,
 0    4.854410e+11
 Name: 2001, dtype: float64,
 0    5.149379e+11
 Name: 2002, dtype: float64,
 0    6.076993e+11
 Name: 2003, dtype: float64,
 0    7.091485e+11
 Name: 2004, dtype: float64,
 0    8.203816e+11
 Name: 2005, dtype: float64,
 0    9.402599e+11
 Name: 2006, dtype: float64,
 0    1.216735e+12
 Name: 2007, dtype: float64,
 0    1.198896e+12
 Name: 2008, dtype: float64,
 0    1.341887e+12
 Name: 2009, dtype: float64,
 0    1.675615e+12
 Name: 2010, dtype: float64,
 0    1.823050e+12
 Name: 2011, dtype: float64,
 0    1.827638e+12
 Name: 2012, dtype: float64,
 0    1.856722e+12
 Name: 2013, dtype: float64,
 0    2.039127e+12
 Name: 2014, dtype: float64,
 0    2.103588e+12
 Name: 2015, dtype: float64,
 0    2.294798e+12
 Name: 2016, dtype: float64,
 0    2.651473e+12
 Name: 2017, dtype: float64,
 0    2.702930e+12
 Name: 2018, dtype: float64,
 0    2.831552e+12
 Name: 2019, dtype: float64,
 0    2.667688e+12
 Name: 2020, dtype: float64,
 0,
 0]

In [259]:
len(X), len(y)

(64, 64)

In [260]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [255]:
# X = india_gdp.columns[1:].astype(int).values.reshape(-1, 1)
# y = india_gdp.iloc[1].values.reshape(-1, 1)

In [261]:
# Fit a linear regression model to the training data
reg = LinearRegression()
reg.fit(X_train, y_train)

ValueError: could not convert string to float: 'Unnamed: 66'